{
  "parser": "babel-eslint",
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "es7": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
